.feedback__btn {
    margin: 0;
    margin-right: 20px;

    border: 1px solid black;
    
    border-radius: 5%;
    padding: 6px 15px;
    cursor: pointer;

    transition-property: color, background;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    
}

.feedback__btn:hover,
.feedback__btn:focus {
    border: none;
    background: azure;
    color: red;
    transform: scale(1.13);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}